
    <% if current_user %>
<div class = "nav">
  <ul>
<!--<li><a href="#">Link1</a></li>
    <li><a href="#">Link2</a></li>
    <li><a href="#">Link3</a></li> -->

      <li><a href="/users/<%=session[:user_id]%>">Profile</a></li>
      <li><a href="/users/logout">Logout</a></li>

  </ul>
</div>
    <% end %>
