<h2>IT'S A TEQUILA SUNRISE THERE SURVEY SOLDIERS, SO<br>
LET'S MAKE SOME SURVEYS TO CONQUER THE WORLD!!</h2>

<%= @errors if @errors %>

<%if !session[:user_id]%>
  <h4>LOGIN AND MAKE SURVEYS IF YOU ARE STRONG</h4>
<%else%>
 <h4>YOU ARE STRONG. NOW CONDUCT SURVEY WARFARE!!!!!</h4>
 <a href="/users/<%=session[:user_id]%>">TAKE ME TO FRONT LINES</a>
<%end%>
