<div id="sign-in">
  <div class="login_form">
  <h2>Login</h2>
    <form class="form" action="/sessions" method="post">
      <input type="text" name="email" placeholder="email"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit" value="Login">
      <% if @login_error %>
        <small style="color:red">Login Error.</small>
      <% end %>
    </form>
  </div>
</div>
