
<h2>Create Survey</h2>

<form id="create_survey" method="post" action="/surveys/new">
  <label id="title_label">Survey Title:
  <input id="survey_title_field" type="text" name="title" placeholder="Survey Title">
  </label><br /> <!-- CSS out later -->

  <button id="add_question">Add New Question</button><br /> <!-- CSS out later -->

  <br /> <!-- CSS out later -->
  <input id="form_complete" type="submit" value="Create Survey">
</form>


