<article class="pure-g-r">
<div class="form-head pure-u-1">
<h1>Create Survey</h1>
</div>
<form class="pure-u-1 pure-skin-mine pure-form pure-form-aligned" id="create_survey" method="post" action="/surveys/new">
  <div class="pure-control-group">
  <label for="title" id="title_label"> Survey Title </label>

  <input id="survey_title_field" type="text" name="title" placeholder="Survey Title">
  </div>

  <div class="pure-controls" style="margin-bottom: 20px;">
  <button class="pure-button" type="button" id="add_question">Add New Question</button>
  </div>


  <button class="pure-button" id="form_complete" type="submit" value="Create Survey">Create Survey</button>
</form>
</article>


