
<h2>Create Survey</h2>

<!-- <div id="show_survey_title">
  Survey Title:
</div> -->


<form id="create_survey" method="post" action="/surveys/new">
  <h2><label id="title_label">Survey Title:
  <input id="survey_title_field" type="text" name="title" placeholder="Survey Title">
  <button id="build_survey">Build Survey</button>
  <!-- <input id="title_submit" type="submit" value="Create Title"> -->
  </label></h2>

  <div id ="question_set_1"><label id="question_label_1">Create Question:
  <input id="question_field" type="text" name="question_text" placeholder="Question">
  <!-- <input id="question_submit" type="submit" value="Create Question"> -->
  <button id="build_question">Create Question</button>
  </label></div>


  <div id ="choice_set_1"><label>Create Possible Choices:
  <input id="choice_field" type="text" name="choice_text" placeholder="Possible Choice">
  </label></div>
  <!-- <input id="choice_submit" type="submit" value="Create This Choice"><br> -->
  <input id="form_complete" type="submit" value="Create Survey">
</form>

