<h1>User home page</h1>

  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>

<button><a href="/surveys/new">Create New Survey</a></button>

<button><a href="/surveys/take">Take Survey</a></button>
