<h1>User home page</h1>

<a href="/surveys/new">Create New Survey</a> <br><br>
<a href="/surveys/take">Take Survey</a><br><br>
<a href="/users/<%=session[:user_id]%>/surveys">View Your Surveys</a><br><br>
