<h1>User home page</h1>

  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>

<a href="/surveys/new">Create New Survey</a>

<a href="/surveys/take">Take Survey</a>

<a href="/users/<%=session[:user_id]%>/surveys">View Your Surveys</a>
